/***********BASE*********/
* {
  box-sizing: border-box;
}

body {
  font-family: "Open sans", Arial, sans-serif;
}

.wrapper {
  /* New width as of Oct 2019 */
  max-width: 1247px;
  height: 100%;
  padding: 0 1em;
  margin: 0 auto;
}

/***********HEADER*********/

#pageHeader {
  height: 40px;
  background: #0C0C0C;
  color: rgb(230, 230, 230);
}

#pageHeader>.wrapper {
  display: flex;
  justify-content: space-between;
}

.headerLeft,
.headerRight {
  display: flex;
  align-items: center;
}

.pageNav ul {
  display: flex;
}

.pageNav li a {
  font-size: 0.875rem;
  color: inherit;
  text-decoration: none;
  margin-left: 1.2em;
  padding: .4em 0;
  transition: color .3s;
}

.pageNav li a:hover {
  color: #fff;
}

.pageSearch {
  position: relative;
}

#searchSwitch:checked~.pageSearchField {
  opacity: 1;
  visibility: visible;
}

.pageSearchField {
  width: 1065px;
  position: absolute;
  right: 50px;
  top: -4px;
  opacity: 0;
  visibility: hidden;
  transition: opacity .3s;
}

.searchLabel {
  margin: 0 1.5em 0 1em;
}

#searchSwitch:checked~.pageSearchFieldLabel {
  visibility: visible;
}

.pageSearchFieldLabel {
  position: absolute;
  right: 40px;
  top: -7px;
  height: 30px;
  width: 85px;
  line-height: 30px;
  color: #0C0C0C;
  visibility: hidden;
}

.intSwitchLabel::after {
  content: "+";
  margin-left: .25em;
}

#intSwitch:checked~.intSwitchLabel::after {
  content: "-";
  color: red;
}

.intSwitchLabel,
.searchLabel,
.expandedSwitchLabel {
  transition: color .3s;
}

.intSwitchLabel:hover,
.searchLabel:hover,
.expandedSwitchLabel:hover {
  color: #fff;
  cursor: pointer;
}

.internationalEdition {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
}

#intSwitch:checked~.internationalBlock {
  opacity: 1;
  visibility: visible;
}

.internationalBlock {
  background: rgba(0, 0, 0, .9);
  position: absolute;
  top: 40px;
  left: -45px;
  text-align: right;
  padding: .5em 1em 0;
  width: 250px;
  font-weight: 300;
  opacity: 0;
  visibility: hidden;
  transition: opacity .3s;
}

.internationalBlock li {
  margin-bottom: 1.25em;
  padding: 0 1em;
  transition: color .3s;
}

.internationalBlock li:hover {
  color: #fff;
  cursor: pointer;
}

.internationalBlock hr {
  border: none;
  height: 1px;
  width: 100%;
  background: #bfbfbf;
  margin-bottom: 1.25em;
}

.row-block,
.internationalBlock p {
  padding: 0 1em;
}

.radioFlex {
  display: flex;
  justify-content: space-between;
  margin-top: 1.25em;
  margin-bottom: 1.45em;
}

.radioFlex input {
  margin-right: 0.375em;
}

.confirm {
  padding: .5em 1em;
  background: transparent;
  color: #bfbfbf;
  border: 1px solid #bfbfbf;
  margin-bottom: 1.75em;
  font-family: "Open sans",
    Arial,
    sans-serif;
  transition: color .3s, border .3s;
}

.confirm:hover {
  color: #fff;
  border: 1px solid #fff;
}

#expandedSwitch:checked~.headerExpandedMenuBlock {
  opacity: 1;
  visibility: visible;
}

.headerExpandedMenuBlock {
  width: 100%;
  background: rgba(0, 0, 0, .9);
  position: absolute;
  padding: 2em 0 3em 0;
  top: 40px;
  right: 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity .3s;
}

.fa-times {
  opacity: 0;
  visibility: invisible;
}

#expandedSwitch:checked~.expandedSwitchLabel .fa-times {
  opacity: 1;
  visibility: visible;
  color: red;
}

#expandedSwitch:checked~.expandedSwitchLabel .fa-bars {
  opacity: 0;
  visibility: invisible;
  display: none;
}

.expandedTopBlock {
  width: 100%;
}

.expandedTopBlock h3 {
  font-size: 1.125rem;
  font-weight: 700;
  margin-bottom: .75em;
}

.expandedTopBlock li {
  margin: 4px 0 0;
}

.expandedTopBlock a {
  color: rgba(254, 254, 254, 1);
  text-decoration: none;
  font-size: .875rem;
  font-weight: 400;
  line-height: 18px;
  transition: color .3s;
}

.expandedTopBlock a:hover {
  color: #fff;
  text-decoration: underline;
}

.expandedTopBlock .row:last-child {
  margin-top: 2em;
}

.expandedTopBlock .col-lg-2 {
  padding: 0;
}

.headerExpandedMenuBlock hr {
  border: none;
  height: 1px;
  background: #bfbfbf;
  width: 100%;
  margin: 3em 0;
}

.expandedBottomBlock {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.divider {
  border-left: 1px solid #fff;
  height: 24px;
  margin: 0 1em;
}

.social {
  display: flex;
  align-items: center;
  color: rgb(230, 230, 230);
}

.social li:not(:last-child) {
  margin-right: .6em;
}

.social a {
  color: rgb(230, 230, 230);
  font-size: 1.5rem;
  transition: color .3s;
}

.social a:hover {
  color: #fff;
}

/*******MEDIA QUERIES********/
@media(max-width: 1024px) {
  .pageSearchField {
    width: 850px;
  }

  .intSwitchLabel {
    font-size: .85rem;
  }
}

@media(max-width: 991px) {
  .pageNav {
    display: none;
  }

  .pageSearchField {
    width: 500px;
  }

  .headerExpandedMenuBlock {
    text-align: center;
  }

  .expandedTopBlock ul {
    margin-bottom: 2em;
  }

  .expandedTopBlock .row:last-child {
    margin-top: 0;
  }

  .headerExpandedMenuBlock hr {
    margin: 0em 0 3em 0;
  }

  .expandedBottomBlock {
    justify-content: center;
  }
}

@media(max-width: 767px) {
  .pageSearchField {
    width: 200px;
  }

  .expandedTopBlock ul {
    display: none;
  }

  .headerExpandedMenuBlock hr {
    width: 25%;
    margin: 1.5em auto 3em auto;
  }
}