/***********BASE*********/
* {
  box-sizing: border-box;
}

body {
  font-family: "Open sans", Arial, sans-serif;
}

.wrapper {
  /* New width as of Oct 2019 */
  max-width: 1247px;
  height: 100%;
  padding: 0 1em;
  margin: 0 auto;
}

/***********HEADER*********/

#pageHeader {
  height: 40px;
  background: #0C0C0C;
  color: rgb(230, 230, 230);
}

#pageHeader>.wrapper {
  display: flex;
  justify-content: space-between;
}

.headerLeft,
.headerRight {
  display: flex;
  align-items: center;
}

.pageNav ul {
  display: flex;
}

.pageNav li a {
  font-size: 0.875rem;
  color: inherit;
  text-decoration: none;
  margin-left: 1.2em;
  padding: .4em 0;
  transition: color .3s;
}

.pageNav li a:hover {
  color: #fff;
}

.pageSearch {
  position: relative;
}

#searchSwitch:checked~.pageSearchField {
  opacity: 1;
  visibility: visible;
}

.pageSearchField {
  width: 1065px;
  position: absolute;
  right: 50px;
  top: -4px;
  opacity: 0;
  visibility: hidden;
  transition: opacity .3s;
}

.searchLabel {
  margin: 0 1.5em 0 1em;
}

#searchSwitch:checked~.pageSearchFieldLabel {
  visibility: visible;
}

.pageSearchFieldLabel {
  position: absolute;
  right: 40px;
  top: -7px;
  height: 30px;
  width: 85px;
  line-height: 30px;
  color: #0C0C0C;
  visibility: hidden;
}

.intSwitchLabel::after {
  content: "+";
  margin-left: .25em;
}

#intSwitch:checked~.intSwitchLabel::after {
  content: "-";
  color: red;
}

.intSwitchLabel,
.searchLabel,
.expandedSwitchLabel {
  transition: color .3s;
}

.intSwitchLabel:hover,
.searchLabel:hover,
.expandedSwitchLabel:hover {
  color: #fff;
  cursor: pointer;
}

.internationalEdition {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
}

#intSwitch:checked~.internationalBlock {
  opacity: 1;
  visibility: visible;
}

.internationalBlock {
  background: rgba(0, 0, 0, .9);
  position: absolute;
  top: 40px;
  left: -45px;
  text-align: right;
  padding: .5em 1em 0;
  width: 250px;
  font-weight: 300;
  opacity: 0;
  visibility: hidden;
  transition: opacity .3s;
}

.internationalBlock li {
  margin-bottom: 1.25em;
  padding: 0 1em;
  transition: color .3s;
}

.internationalBlock li:hover {
  color: #fff;
  cursor: pointer;
}

.internationalBlock hr {
  border: none;
  height: 1px;
  width: 100%;
  background: #bfbfbf;
  margin-bottom: 1.25em;
}

.row-block,
.internationalBlock p {
  padding: 0 1em;
}

.radioFlex {
  display: flex;
  justify-content: space-between;
  margin-top: 1.25em;
  margin-bottom: 1.45em;
}

.radioFlex input {
  margin-right: 0.375em;
}

.confirm {
  padding: .5em 1em;
  background: transparent;
  color: #bfbfbf;
  border: 1px solid #bfbfbf;
  margin-bottom: 1.75em;
  font-family: "Open sans",
    Arial,
    sans-serif;
  transition: color .3s, border .3s;
}

.confirm:hover {
  color: #fff;
  border: 1px solid #fff;
}

#expandedSwitch:checked~.headerExpandedMenuBlock {
  opacity: 1;
  visibility: visible;
}

.headerExpandedMenuBlock {
  width: 100%;
  background: rgba(0, 0, 0, .9);
  position: absolute;
  padding: 2em 0 3em 0;
  top: 40px;
  right: 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity .3s;
}

.fa-times {
  opacity: 0;
  visibility: invisible;
}

#expandedSwitch:checked~.expandedSwitchLabel .fa-times {
  opacity: 1;
  visibility: visible;
  color: red;
}

#expandedSwitch:checked~.expandedSwitchLabel .fa-bars {
  opacity: 0;
  visibility: invisible;
  display: none;
}

.expandedTopBlock {
  width: 100%;
}

.expandedTopBlock h3 {
  font-size: 1.125rem;
  font-weight: 700;
  margin-bottom: .75em;
}

.expandedTopBlock li {
  margin: 4px 0 0;
}

.expandedTopBlock a {
  color: rgba(254, 254, 254, 1);
  text-decoration: none;
  font-size: .875rem;
  font-weight: 400;
  line-height: 18px;
  transition: color .3s;
}

.expandedTopBlock a:hover {
  color: #fff;
  text-decoration: underline;
}

.expandedTopBlock .row:last-child {
  margin-top: 2em;
}

.expandedTopBlock .col-lg-2 {
  padding: 0;
}

.expandedBlockDivider {
  border: none;
  height: 1px;
  background: rgb(77, 77, 77);
  width: 100%;
  margin: 3em 0;
}

.expandedBottomBlock {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.divider {
  border-left: 1px solid #fff;
  height: 24px;
  margin: 0 1em;
}

.social {
  display: flex;
  align-items: center;
  color: rgb(230, 230, 230);
}

.social li:not(:last-child) {
  margin-right: .6em;
}

.social a {
  color: rgb(230, 230, 230);
  font-size: 1.5rem;
  transition: color .3s;
}

.social a:hover {
  color: #fff;
}

/*******MAIN********/
main {
  padding: 1.5em 0 3em 0;
}

main .container-fluid>.row {
  margin-bottom: 2em;
}

.live-updates {
  margin-bottom: 1.75em;
}

.live-updates ul li {
  display: inline-block;
}

.live-updates li:not(:last-child)::after {
  content: "|";
  font-weight: 800;
  color: #d9d9d9;
  padding: 0 .2em 0 .5em;
}

.live-updates a {
  font-size: .875rem;
  font-weight: 600;
  color: #262626;
  text-decoration: none;
  transition: color .3s;
  line-height: 1.5;
}

.live-updates a:hover {
  color: #CC0000;
}

.live-updates span {
  color: #CC0000;
}

.main-title {
  font-size: 2.25rem;
  font-weight: 600;
  text-align: center;
  line-height: 1.1;
  margin-bottom: .4em;
}

.main-title a {
  color: #000;
  text-decoration: none;
  transition: color .3s;
}

.main-title a:hover {
  color: #CC0000;
}

.image-block {
  position: relative;
}

.image-block img,
.image-block video {
  width: 100%;
  height: auto;
}

.label-block {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  background: #CC0000;
  font-size: .75rem;
  font-weight: 800;
  text-transform: uppercase;
  padding: 1.15em 1em;
}

.sub-title {
  font-weight: 800;
  padding: .5em 0;
  line-height: 1.25;
}

.sub-title a {
  color: #000;
  text-decoration: none;
  transition: color .3s;
}

.sub-title a:hover {
  color: #CC0000;
}

.last-news li {
  border-top: 1px solid #d9d9d9;
  padding: .5em 0;
}

.last-news a {
  font-size: .875rem;
  color: #262626;
  text-decoration: none;
  font-weight: 400;
  line-height: 1.3;
  transition: color .3s;
}

.last-news .headlineIcon {
  color: #a6a6a6;
  transition: color .3s;
}

.last-news a:hover,
.last-news a:hover>.headlineIcon {
  color: #CC0000;
}

.last-news .preText {
  color: #CC0000;
}

.last-news-bullets {
  margin-bottom: 1em;
}

.last-news-bullets li {
  padding: .25em 0;
}

.last-news-bullets a {
  font-size: .875rem;
  color: #262626;
  text-decoration: none;
  font-weight: 400;
  line-height: 1.3;
  transition: color .3s;
}

.last-news-bullets .headlineIcon {
  color: #a6a6a6;
  transition: color .3s;
}

.last-news-bullets a:hover,
.last-news a:hover>.headlineIcon {
  color: #CC0000;
}

.last-news-bullets .preText {
  color: #CC0000;
}

.topStories-heading {
  color: #404040;
  background: #f2f2f2;
  font-size: 1rem;
  font-weight: 800;
  padding: .5em;
}

.topStories-title {
  font-size: 1.25rem;
  font-weight: 800;
  padding: .5em 0;
  line-height: 1.25;
}

.topStories-title a {
  color: #000;
  text-decoration: none;
  transition: color .3s;
}

.topStories-title a:hover {
  color: #CC0000;
}

.banksy {
  font-weight: 800;
  color: green;
  text-decoration: underline;
}

.featured-title {
  margin-bottom: 2em;
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.featured-title a {
  color: #262626;
  font-size: 1.6rem;
  font-weight: 400;
  text-decoration: none;
  transition: color .3s;
}

.featured-title a:hover {
  color: #CC0000;
}

.featured-title::after {
  content: "";
  display: inline-block;
  height: 9px;
  border-bottom: 4px solid #d9d9d9;
  border-top: 4px solid #d9d9d9;
  width: 100%;
  margin-left: .75em;
}

.paidContent-title {
  font-size: 1.25rem;
  font-weight: 300;
  padding: .5em 0;
  line-height: 1.25;
}

.paidContent-title a {
  color: #000;
  text-decoration: none;
  transition: color .3s;
}

.label-block-paid {
  position: absolute;
  top: 20px;
  left: 0;
  color: #888;
  background: #fff;
  font-size: .75rem;
  font-weight: 800;
  text-transform: uppercase;
  padding: .75em;
}

/*******FOOTER********/
#pageFooter {
  background: #0C0C0C;
  padding: 3.75em 0;
  color: rgb(230, 230, 230);
}

.footerSearch {
  margin-bottom: 3em;
  position: relative;
}

.footerSearchField {
  width: 97%;
  height: 30px;
  padding-left: .5em;
}

.footerSearchFieldLabel {
  position: absolute;
  right: 35px;
  top: 0;
  height: 30px;
  line-height: 35px;
  color: #0C0C0C;
}

#pageFooter .expandedBottomBlock {
  margin-top: 4em;
  display: flex;
}

#pageFooter .expandedBottomBlock .col-md-6 {
  padding-left: 0;
}

.footerSocial {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.terms li {
  display: inline-block;
}

.terms a {
  color: rgb(230, 230, 230);
  font-size: .75rem;
  text-decoration: none;
  margin-right: 1em;
  transition: color .3s;
  line-height: 1.5;
}

.terms a:hover {
  color: #fff;
  text-decoration: underline;
}

.copy {
  color: rgb(230, 230, 230);
  font-size: .75rem;
  margin-top: 3em;
  line-height: 1.5;
}

/*******MEDIA QUERIES********/
@media(max-width: 1024px) {
  .pageSearchField {
    width: 850px;
  }

  .intSwitchLabel {
    font-size: .85rem;
  }
}

@media(max-width: 991px) {
  .pageNav {
    display: none;
  }

  .pageSearchField {
    width: 500px;
  }

  .headerExpandedMenuBlock {
    text-align: center;
  }

  .expandedTopBlock ul {
    margin-bottom: 2em;
  }

  .expandedTopBlock .row:last-child {
    margin-top: 0;
  }

  .expandedBlockDivider {
    margin: 0em 0 3em 0;
  }

  .expandedBottomBlock {
    justify-content: center;
  }

  .paidContent-title {
    margin-bottom: 2em;
  }

  #pageFooter {
    text-align: center;
  }

  #pageFooter .expandedBottomBlock {
    flex-direction: column;
    margin-top: 2em;
  }

  .footerSocial {
    justify-content: center;
    margin: 2em 0;
  }
}

@media(max-width: 767px) {
  .pageSearchField {
    width: 200px;
  }

  .expandedTopBlock ul {
    display: none;
  }

  .expandedBlockDivider {
    width: 25%;
    margin: 1.5em auto 3em auto;
  }

  main .container-fluid>.row {
    margin-bottom: 0;
  }

  .live-updates {
    text-align: center;
  }

  .last-news,
  .last-news-bullets {
    margin-bottom: 2em;
  }

  .topStories-heading {
    font-size: 1.5rem;
  }

  #pageFooter .expandedBlockDivider {
    width: 25%;
    margin: 1.5em auto 3em auto;
  }
}